.nav {
    margin-bottom: 0;
    background-color: rgba(207, 207, 207, 0.75);
    font-family: 'Open Sans', sans-serif;
}
.nav .collapse {
    color: #172663;
}
.nav .collapse .text {
    padding: 1rem;
    color: #172663;
    font-weight: 600;
    margin: 0 0.5rem;
}
#toggle {
    color: #172663;
}
.nav .collapse .text:hover {
    padding: 1em;
    color: #fff;
    font-weight: 600;
    margin: 0 0.5rem;
    border-bottom: #172663 2px solid;
}
#brand-text {
    color: #172663;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    align-self: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}
#contact {
    border: #172663 2px solid;
    border-radius: 0.5rem;
    background-color: #172663;
    color: white;
}
#contact:hover {
    border: #172663 1px solid;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #172663;
}